.hero {
    background-image: url('https://cdn.lafise.com/web-resources/blp/banca-privada/soluciones-internacionales/seccion1/desktop/2x/bkg-hero-b1-soluciones-internacionales-blpa-desktop-2x.webp');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 550px;
    width: 100%;
    max-width: 1503px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

@media (max-width: 576px) {
    .hero {
        background-image: url('https://cdn.lafise.com/web-resources/blp/banca-privada/soluciones-internacionales/seccion1/mobile/2x/bkg-hero-b1-soluciones-internacionales-blpa-mobile-2x.webp');
        background-position: 50% 60%;
    }
}
